html {
  position: relative;
  min-height: 100%;
}
body {
  background: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.well{
   background-color: rgba(255,255,255, .7)
}

.formStyle {
  float: left;
  display: block;
  /*text-align: center;*/
  margin-top: 10px
}

#dataOutput {
}
